/* Site Specific Customization Here */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  color: #565656;
  border-bottom-color: #d1d1d1;
}


form.f-wrap-request label .field {
  color: #565656;
}

#header {
  background-color: #e4ebf8; 
  color: #1d4267;
  border-top: solid #1d4267 4px;
}

a.logonLink:link {
  color: #1d4267;
  border-bottom: 1px dotted #999;
}

a.logonLink:hover {
  color: #2972bb;
  border-bottom: 1px solid #2972bb;
}
#nav ul li h3, #sidebar h3 {
  border-bottom: #d1d1d1 dotted 1px;
}

#status h3 {
  float: right;
  margin: 0px;
}

#nav ul ul li, #nav ul ul li a, #sidebar a {
  font-size: 14px;
  color: #1d4267;
}

#nav ul li h3 a, #nav ul li h3, #status h3, #status h3 a, #sidebar h3 {
  color: #1d4267;
  font-size: 16px;
}

#nav ul li h3 a:hover, #nav ul ul li:hover, #nav ul ul li a:hover, #status h3 a:hover, #sidebar a:hover {
  text-decoration: underline;
  color: #2972bb;
}

ul.breadcrumb {
  background-color: #1d4267;
}

.default-table thead tr.row-header {
  color: #fff;
  background-color: #1d4267;
}

.default-table thead tr.row-headings th {
  font-weight: bold;
}

form.f-wrap-request h3 {
  color: #2972bb;
}

input.f-submit {
  color: #2972bb;
  border: #2972bb solid 3px;
  padding: 3px;
}

input.f-submit:hover {
  color: #fff;
  background-color: #2972bb;
}

#transactionMenu a:link, #transaction Menu a:visited {
  color: #1d4267;
  font-family: 'Open Sans Condensed', sans-serif;
}

#transactionMenu a:hover {
  color: #2972bb;
  text-decoration: underline;
  font-family: 'Open Sans Condensed', sans-serif;
}

#header-logo a img{
  height: 55px;
}

form.f-wrap-1 label .field {
  width: 12em;
}

.red {
  color: red;
}

#grid #utility {
  width: auto;
}

#grid #content {
  margin: 0px;
}

form.f-wrap-request {
  width: auto;
}

#alerts {
  background-color: #EFEFEF;
}

#search {
  position: absolute;
  top: 0px;
  right: 25px;
}

fieldset#searchType {
  margin: 0px;
  padding: 0px;
}

#alerts .sidebar{
  font-size: 10px;
}